replicaCount: 2

image:
  repository: chaduri7913/my-python-app # 본인 도커 허브 ID로 수정
  tag: "1.0.6"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi